__pycache__*
backup_15-09-25*
Detection_Code*
New folder*
old*
olddetection_code*
output*
output_images*
static\Cam1InputImages*
static\OutputImages*
working_code*
exp.txt
static_testing.docx
PIM_testing.xlsx
calculation_results.csv
burr_area*